# LangChain Core
langchain
langchain-core
langchain-experimental

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# LlamaCpp for running local gguf models
llama-cpp-python
langchain-community

# Pydantic for structured outputs
pydantic

# Langchain text splitters
langchain-text-splitters

# simple pdf reader utils
pymupdf
faiss-cpu

# ChromaDB
chromadb

# Wikipedia for Wikipedia retrievers
wikipedia

# Youtube Transcript getter, for the practive project of YoutubeChat
youtube-transcript-api